
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
        <div class="container">
          <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
              <li class="{% if  request.path == '/' %}active{% endif %}"><a href="{% url 'index' %}">Anasayfa</a>
                
              </li>
              <li class="{% if  'blog' in request.path  %}active{% endif %}" ><a href="{% url 'bloglist' %}">Blog </a>
                 
              </li>
              <li  class="{% if  'courses' in request.path  %}active{% endif %}" ><a href="{% url 'courses' %}">Kurslar</a>
                
              </li>
              <li  class="{% if  'events' in request.path  %}active{% endif %}" ><a href="{% url 'events' %}">Etkinlikler</a>
              </li>
              <li  class="{% if  'teachers' in request.path  %}active{% endif %}" ><a href="{% url 'teachers' %}">Eğitmenler</a>
              </li>
              <li  class="{% if  'about' in request.path  %}active{% endif %}"><a href="{% url 'about' %}">Hakkımızda</a>
              </li>
              <li  class="{% if  'contact' in request.path  %}active{% endif %}" ><a href="{% url 'contact' %}">İletişim</a>
              </li>
            </ul>
            <ul class="pull-right flip hidden-sm hidden-xs">
              <li>
                <!-- Modal: Book Now Starts -->
                <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14  mt-0 p-25 pr-15 pl-15"  href="{% url 'coursereq' %}">Kurs Talebi</a>
                <!-- Modal: Book Now End -->
              </li>
            </ul>
            <div id="top-search-bar" class="collapse">
              <div class="container">
                <form role="search" action="#" class="search_form_top" method="get">
                  <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                  <span class="search-close"><i class="fa fa-search"></i></span>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Start main-content -->
